.nombre h4{
  color:#e82e2e;
}
.profile img {
  height: 350px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.profile p{
  text-align: justify;
}
.gallery a{
  color:#e82e2e;
  font-size: 70px;
}
