.evento{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover !important;
  position:relative
}
.symbols2{
  color: #e82e2e;
  font-size:45px;
}
 .evento strong{
  color: #e82e2e;
 }
