<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Ángel Ariel Núñez</h2>
        <h4>@_angelariel</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        De 27 años, tomar fotos es algo que empezó a hacer desde muy pequeño con
        las cámaras tipo “aficionado” de su papá; siempre fue algo con lo que convivió; rollos por aquí y por allá eran parte de sus juguetes favoritos y a medida que fue creciendo se hizo más presente en su vida.
        </p>
        <p>
        La fotografía es algo que lo libera,le hace sentir paz y tranquilidad;salir con su móvil o una cámara en mano le permite capturar momentos importantes, irrepetibleso simplemente únicos; Instagram sin duda representa el lugar perfecto para llegar a todas esas personas que aprecian de una manera u otra el arte de capturar momentos.
        </p>
        <p>
        El estilo que lo define sin duda es “Nature and Landscape” le encanta el verde y el azul de nuestro planeta y con estos estilos es fácil de plasmar esos colores
        Sueña con llegar a más personas que aprecien sus fotos, que puedan ver en él un ejemplo; de que lo que
        te propongas puedes lograrlo! no importa cuán alta se vea una cima, puedes llegar a ella y ver el mundo a tus pies! y; este anhelo y el de muchos otros estará un poquito más cerca
        a través de este tipo de apoyo hacia los instagramers, eso es lo que me motiva y mueve a participar de esta exhibición.
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('angel.png')%>
        <br>
        <a href="https://www.instagram.com/_angelariel/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

