<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Eugenio Igoa</h2>
        <h4>@eigoae</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        27 años, español. Tomar fotos es una bonita manera de ir documentando recuerdos.
        </p>
        <p>
       Comenzó a hacerlo en cuanto tuvo un smartphone con buenas capacidades fotográficas. Instagram fue clave en el desarrollo de esta afición, donde ha encontrado inspiración y ha compartido experiencias con gente de todo el mundo. Se identifica con el minimalismo, le gustan las composiciones sencillas y le pone mucha atención a la posición de los elementos, buscando el equilibrio geométrico. Le gusta controlar la escena, aunque en ocasiones se permite ciertas concesiones (cada vez más). Poco a poco, va entendiendo que la fotografía no debe ser tan rígida y que la magia de la misma no está determinada por ninguna regla.
        </p>

      </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('eugenio.png')%>
        <br>
        <a href="https://www.instagram.com/eigoae/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

