<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Hugo González</h2>
        <h4>@hugo.jpeg</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        Desde pequeño demostró interés por explorar su creatividad a través de diferentes medios.
        </p>
        <p>
       Se muda con su familia a Panamá, donde junto a él crece su interés por la arquitectura y la fotografía. En su trabajo fotográfico intenta plasmar las distintas interacciones que se dan cotidianamente entre componentes arquitectónicos, la naturaleza y los seres vivos. Sus fotografías contienen elementos específicos cuyas composiciones lineales reflejan su formación en arquitectura. Desde su creación, Instagram ha sido una herramienta fundamental para dar a conocer su perspectiva visual de Panamá y el mundo; y con en esta exhibición espera seguir compartiendo su visión.
        </p>

      </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('hugo.png')%>
        <br>
        <a href="https://www.instagram.com/hugo.jpeg/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

