<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Jani Aguilar</h2>
        <h4>@janie_aguilarr</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        Tiene 24 años, desde pequeña le llamó la atención todo lo relacionado al arte en todas su facetas como el dibujo, pintura, diseño de moda, tallados con madera y todo tipo de creaciones.
        </p>
        <p>
        La fotografía para ella es una pintura de la realidad, el cual busca transmitir siempre un sentir, que otros también vean la tierra como parte de ellos mismos. Sembrar conciencia sobre su importancia, ya que somos naturaleza.
        </p>

      </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('janie.png')%>
        <br>
        <a href="https://www.instagram.com/janie_aguilarr/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

