<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Jesús Antonio Hernández</h2>
        <h4>@_antoh</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        Tiene 21 años de edad. Una de sus motivaciones es sin duda el momento en el que las personas le comparten cuan maravillados están por sus foto- grafías, donde muestra una conexión con la naturaleza y los escenarios.
        </p>
        <p>
        cuando le comentan, le escriben por mensaje privado para pedirle uno que otro consejo y le animan a seguir con lo que hace; porque de alguna u otra manera representa una esperanza de impulso para ellos a descubrir, eso es lo que realmente le motiva ser fotógrafo.
        </p>
        <p>
        Instagram significa todo, esta red social donde encuentras maravillas, donde te conectas con el mundo, mediante fotos y vídeos, donde encuentras a personas con sus mismo gusto y que va de fotos de retratos a paisajes increíbles, no encontraríamos límites para expresar cómo se ve el mundo. Es la plataforma que le ha llevado su trabajo a más ojos y rincones.
        </p>
      </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('jesus.png')%>
        <br>
        <a href="https://www.instagram.com/_antoh/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

