<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Juan De Dios Castillo</h2>
        <h4>@juandediosc</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        Juan De Dios, de 32 años, es fotógrafo profesional, diseñador gráfico y buzo avanzado. El tiempo le ha permitido reunir experiencia en todas las facetas del arte y ha sido parte de valiosos equipos que desarrollan proyectos de alto impacto en Panamá y toda la región llegando incluso a liderarlos como director de arte y creativo.
        </p>
        <p>
        Hace algunos años descubrió que se siente muy cómodo con su actual estilo, la fotografía documental. Disfruta poder contar historias a través de su trabajo y tiene una gran atracción por la naturaleza, confiesa que es de las fotografías que más le gusta hacer, su belleza obliga sin duda una reverencia.
        </p>
        <p>
        Cree que su trabajo podría contri- buir a la exposición evidenciando que Panamá tiene lugares increíbles cree fielmente en que todos podemos disfrutar de lo hermoso que la naturaleza nos regala y el poder inspi- rar a otros a través de su trabajo es la motivación más relevante para ser parte de esta exposición.
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('juan.png')%>
        <br>
        <a href="https://www.instagram.com/juandediosc/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

