<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Luis Zamora</h2>
        <h4>@luis_zamorav</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        Fotógrafo aventurero, panameño con 25 años de edad, amante de la naturaleza y adicto a las cascadas.
        </p>
        <p>
        Más que solo un paisaje bonito lo que quiere transmitir a través de sus fotos es esa conexión entre el hombre y la naturaleza, ese amor con el que estamos todos conectados para que la cuidemos y que al ver la foto se transmita el deseo de estar allí llenándote de esa energía que sólo se siente al estar en contacto con la Madre Tierra.</p>
        <p>
        Le gusta instagram porque es una herramienta para dar a conocer rápidamente, sea lo que sea que hagas. Es interesante porque nos hace dar cuenta que no hay fronteras para conectar con personas que comparten tus gustos y pasiones e inspirarte aún más a seguir creando.
        </p>
        <p>
        En cuanto a su estilo, podría parecer que le gusta la oscuridad pero en realidad le gusta es el contraste entre la luz y las sombras, le gusta que el negro se vea tal cual, eso hace que sobresalga lo que está más iluminado en su composición, los tonos cálidos y los verdes son bastante comunes en su fotografía. Le motiva ser parte de la exhibición para inspirar a más personas a que sigan sus pasiones y nos inspiren a todos a seguir las nuestras.
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('luis.png')%>
        <br>
        <a href="https://www.instagram.com/luis_zamorav/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

