<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Marco Chen</h2>
        <h4>@marcofchen</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
       Panamá es poseedora de una gran belleza natural de la cual ha venido siendo testigo desde los 22 años cuando empezó a investigar y recorrer lugares que nunca pensó que existieran aquí.
        </p>
        <p>
        Al llegar a un destino a veces planeado y otras veces inesperado, explorarlo y poder experimentarlo. Es algo que poco a poco con el apoyo de las redes sociales le ha permitido compartir sus experiencias personales, como una motivación para las personas a también recorrer, conocer y disfrutar de lo que la naturaleza brinda.
        </p>
        <p>El poder presentar su trabajo y su visión en esta exhibición es algo que va con ese propósito el cual hoy, con 25 años, va enmarcado en una nueva forma de mostrar los lugares desde un ángulo distinto, brindando una nueva perspectiva de paisajes inexplorados como de otros ya conocidos con el mismo fin: un llamado a salir y explorar.</p>
      </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('marco.png')%>
        <br>
        <a href="https://www.instagram.com/marcofchen/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

