<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Susana Aramburú</h2>
        <h4>@ptyology</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        Es una fotógrafa panameña de 26 años, auto-proclamada promotora de cultura, contadora de historias y defensora del pueblo.
        </p>
        <p>
        Susana, es también la creadora, fotógrafa y escritora detrás del blog PTYOLOGY, una plataforma que utiliza para, además de contar historias de su vida en la ciudad, incitar a las personas a explorar Panamá y a observar con más atención encontrando la belleza hasta en los más pequeños detalles.
        </p>
        <p>
        Es amante de la fotografía y actualmente se dedica a hacer retratos, a explorar lugares desconocidos y es colaboradora
        de algunas revistas internacionales. Me sentí motivada a ser parte de esta exhibición porque creo que es
        una buena manera de crear un comunidad, de reunir a los artistas y apasionados del arte y cultura en Panamá, y de mostrar una serie de diferentes perspectivas y maneras de ver al país que nos une a todos.
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('susana.png')%>
        <br>
        <a href="https://www.instagram.com/ptyology/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

