<%= render 'shared/navbar' %>
    <div class="container">
      <div class="nombre">
        <h2>Walter Hurtado</h2>
        <h4>@majortomh</h4>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row profile">
        <div class="col-xs-12 col-sm-6">
        <p>
        Walter Hurtado, con 24 años. Al llegar a Panamá se dio cuenta que podría descubrir una gama de lugares y curiosidades que retratar, Su pasión a la fotografía era algo que siempre tuvo pero hasta hace unos años atras comenzo a vivirlo, perfeccionar y cada vez querer más.
        </p>
        <p>
        En este tiempo descubriendo lugares encontró que podía complementar su gusto por explorar retratando a la vez la esencia de los lugares que ha podido ir y mostrarlo a travésde Instagram que ha sido la mayor plataforma de exposición de lo que disfruta hacer. Encuentra que la fotografía es algo que puede moldear a su gusto y por eso le encanta la parte de descubrir todo a través de la fotografía minimalista, de paisajes y la fotografía de viajes que comparte a través de su blog CAMINOS.
        </p>
        <p>
        El poder ser parte de esta exhibición con personas que comparten ideas similares por la fotografía y que quieren mostrar lo maravilloso que son los lugares en Panamá le motiva por mucho, le hace sentir que está compartiendo esta experiencia con las persona correctas para que esta iniciativa llegue a las demás que buscan inspiración de conocer, explorar y compartir lo que ven.
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center gallery">
        <%= image_tag('walter.png')%>
        <br>
        <a href="https://www.instagram.com/majortomh/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>


