<%= render 'shared/navbar' %>
<div class="about padded"">
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="sizexl">
      <%= image_tag "pismallred.png"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
     <ul class="list-unstyled">
      <h2>PANAMÁ INSTANTÁNEA</h2>
      <li><p><strong>Contactanos</strong></p> </li>
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
      <li><p> info@puntobohemio.com  </p></li>
      <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
      <li><p>PIPCultural</p></li>
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li><p>panama.instantanea</p></li>
    </ul>
  </div>
</div>
</div>
