<%= render 'shared/navbar' %>
<!-- <div style="background-image: linear-gradient(-225deg, rgba(280,20,0,0.6) 0%, rgba(250,0,0,0.7) 50%), url('<%= image_path('cholito.png')%>'); height: 50vh;">
</div> -->
<div class="evento">
  <div>
    <h3 class ="pad">EXPOSICIÓN</h3>
    <ul class="list-unstyled pad">
      <a href="https://www.google.com.pa/maps/place/Hilton+Panam%C3%A1/@8.9758587,-79.5246984,17z/data=!3m1!4b1!4m5!3m4!1s0x8faca8e718730dc7:0xa0b50e752724620f!8m2!3d8.9758587!4d-79.5225097?hl=en
      ">
      <li><i class="fa fa-map-marker symbols2" aria-hidden="true"></i></li>
    </a>
    <br>
    <li><p><strong>LUGAR:</strong> HOTEL HILTON PANAMÁ AVENIDA BALBOA<br> GALERIA ABIERTA BY PUNTO BOHEMIO, LOBBY 2</p></li>
    <br>
    <li><i class="fa fa-calendar symbols2" aria-hidden="true"></i></li>
    <br>
    <li><p><strong>EVENTO INAUGURAL:</strong> 19 DE SEPTIEMBRE</p></li>
    <li><p><strong>HORA: </strong> 7:00 PM</p></li>
    <p><strong>EXHIBICIÓN: </strong>SEPTIEMBRE 19 - OCTUBRE 14</p></li>
  </ul>
   <%= link_to "Ver Artistas", pages_artistas_path, class: "btn btn-danger"%>
  <div class="container">
    <div class="col-xs-12 padded" style="text-align: center;">
      <p>En esta primera edición, presentamos 10 artistas, que nos invitan a ver lo   cotidiano con ojos diferentes. La herramienta de los artistas en Panamá Instantánea para compartir  y generar sus fotografías en Instagram. Esta plataforma se convierte en galería móvil para estos artistas emergentes, que muestran de forma instantánea perspectivas plasmadas en imágenes. De ahí, el nombre de este proyecto.
        <br>
        <br>
        Esta exhibición se realiza en el nuevo concepto de Galería Abierta de Punto Bohemio en el Hotel Hilton, la cual consiste en un espacio gratuito, abierto a todo público. Por un tiempo específico se transforma en un centro de exhibición, promoción, apreciación y venta de arte.  Creado con la intención de lograr la interacción inesperada, entre el público y las obras.

        <br>
        <br>
        Vén, conoce y apoya al artista emergente. Inspirate a compartir.
      </p>
    </div>
  </div>
</div>
</div>



