<%= render 'shared/navbar' %>
<!-- <div style="background-image: linear-gradient(-225deg, rgba(280,20,0,0.6) 0%, rgba(250,0,0,0.7) 50%), url('<%= image_path('cholito.png')%>'); height: 50vh;">
</div> -->
<div class="evento">
  <div>
    <h3 class ="pad">Exposición</h3>
    <ul class="list-unstyled pad">
      <a href="https://www.google.com.pa/maps/place/Hilton+Panam%C3%A1/@8.9758587,-79.5246984,17z/data=!3m1!4b1!4m5!3m4!1s0x8faca8e718730dc7:0xa0b50e752724620f!8m2!3d8.9758587!4d-79.5225097?hl=en
      ">
      <li><i class="fa fa-map-marker symbols2" aria-hidden="true"></i></li>
    </a>
    <br>
    <li><p><strong>LUGAR:</strong> HOTEL HILTON PANAMÁ AVENIDA BALBOA</p></li>
    <br>
    <li><i class="fa fa-calendar symbols2" aria-hidden="true"></i></li>
    <br>
    <li><p><strong>EVENTO INAUGURAL:</strong> 19 DE SEPTIEMBRE</p></li>
    <p><strong>EXHIBICIÓN: </strong>SEPTIEMBRE 19 - OCTUBRE 14</p></li>
  </ul>
  <div class="container">
    <div class="col-xs-12 padded" style="text-align: justify;">
      <p>El proyecto consiste en la celebración de una exposición de fotografías realizadas por los integrantes de Panamá Instantánea en el marco de la celebración del evento FotoSeptiembre impulsado por el MAC. Este evento consiste en la organización de diversas exposiciones de fotografías en distintos puntos de la ciudad durante el mes de septiembre. Panamá instantanea cuenta con el respaldo de la agencia cultural punto bohemio y forma parte de la Fundación Punto Inicial- Plataforma Cultural (PIPC) ambas con experiencia en proyectos socio culturales en Panamá.</p>
    </div>
  </div>
</div>
</div>



