 .back1{
  background-image:linear-gradient(-225deg, rgba(280,20,0,0.6) 0%, rgba(250,0,0,0.7) 50%), image-url("artistas.jpg");
 color: white;
  background-size: cover !important;;
  position:relative;
}

